<%= render 'homes/navbar' %>
<div class="container mt-5">
    <h4>ALL QUESTION</h4><br>
<% if current_student.role == "admin"%>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Question</th>
            <th>Replies</th>
        </tr>
        <% @questions.each do |q|%>
        <tr>
            <td><%= q.id%></td>
            <td><%= q.question%></td>
            <td><%= link_to 'View All Reply', reply_path(q) ,class: 'btn btn-outline-primary'%></td>
        </tr>
        <% end %>
    </table>
<% else %>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Question</th>
            <th>Actions</th>
        </tr>
        <% @questions.each do |q|%>
        <tr>
            <td><%= q.id%></td>
            <td><%= q.question%></td>
            <td><%= link_to 'Reply', question_path(q) ,class: 'btn btn-outline-success', remote: true%>
        </tr>
        <% end %>
    </table>
    <div class="here">
    </div>
<% end %>
</div>