<%= render 'homes/navbar' %>
<div class="container mt-5">
    <h4>ALL STUDENTS</h4><br>
    <table class="table table-bordered">
        <tr>
            <th>Roll #</th>
            <th>Name</th>
            <th>Email</th>
            <th>Register courses</th>
        </tr>
        <% @students.each do |s|%>
        <tr>
            <td><%= s.roll_no%></td>
            <td><%= s.name%></td>
            <td><%= s.email%></td>
            <td>
                <% s.courses.each do |rc|%>
                    <div class="d-flex">
                        <%= rc.name.capitalize%>&nbsp;&nbsp;
                        <%= link_to 'Edit Grades', edit_registered_course_path(rc), class: "text-primary text-decoration-none", style: "font-size: 13px;"%>
                    </div>

                    <br>
                <% end %>
            </td>
            
        </tr>
        <% end %>
      </table>
</div>
