<% if student_signed_in? %>
  <% if current_student.role == false%>
    <ul class="nav nav-pills mt-3">
    <li class="nav-item">
        <%= link_to 'Admin', root_path ,class: "nav-link text-uppercase text-secondary"%>
    </li>
    <li class="nav-item">
        <button class=" nav-link btn btn-primary position-relative pt-0">
        <%= link_to 'Courses', courses_path ,class: "nav-link"%>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        <%= Course.count%>
        <span class="visually-hidden"></span>
        </span>
        </button>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
        <button class=" nav-link btn btn-primary position-relative pt-0">
        <%= link_to 'Students', students_path ,class: "nav-link"%>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        <%= Student.count-1%>
        <span class="visually-hidden"></span>
        </span>
        </button>
    </li>
    <li class="nav-item" style="margin-left:74%">
        <%= link_to 'logout', destroy_student_session_path, class: "nav-link"%>
    </li>
    </ul>
  <% else %>
    <ul class="nav nav-pills mt-3">
    <li class="nav-item">
        <a class="nav-link disabled "><%= current_student.name.capitalize%></a>
    </li>
    <li class="nav-item">
        <button class=" nav-link btn btn-primary position-relative pt-0">
        <%= link_to 'Courses', courses_path ,class: "nav-link"%>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        <%= Course.count%>
        <span class="visually-hidden"></span>
        </span>
        </button>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
        <%= link_to 'Edit Profile', edit_student_registration_path, method: :destroy, class: "nav-link"%>
    </li>
    <li class="nav-item" style="margin-left:74%">
        <%= link_to 'logout', destroy_student_session_path%>
    </li>
    </ul>
  <% end %>
<% else %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link">Stranger</a>
    </li>
    <li class="nav-item" style="margin-left:79%">
      <%= link_to 'Sign up', new_student_registration_path, class: "nav-link"%>
    </li>
      <li class="nav-item">
      <%= link_to 'Sign in', new_student_session_path, class: "nav-link"%>
    </li>
  </ul>
<% end %>
