<!-- Nav bar -->
<%= render 'homes/navbar' %>
<!-- Index page starting for here-->
<div class="container mt-5">
<% if current_student.role == true%>
<!-- Section for registered courses -->
   <button class="accordion text-primary" onclick="toggle()"><strong>CLICK TO VIEW YOUR REGISTER COURSES</strong></button>
   <div class="panel">
      <table class="table table-bordered text-center">
         <tr>
            <th>Course</th>   
            <th>Grade</th>
         </tr>
         <% @st_courses.each do |st_co|%>
         <tr>
            <td><%= st_co.name.capitalize%></td>
            <td>
                <%= link_to 'View Grade', registered_course_path(st_co), class: "btn btn-info"%> 
                <%
=begin%>
 <%= link_to 'Unregister', registered_course_path(st_co_, method: :delete, class: "btn btn-info", data: { confirm: 'Are you sure to unregister?'}%> 
<%
=end%>
            </td>
         </tr>
         <% end %>
      </table>
   </div>
   <br><br>
<!-- Section for All courses -->
   <table class="table table-bordered text-center">
      <h4>ALL COURSES</h4>
      <br>
      <tr>
         <th>Course</th>
         <th colspan=2>Click To Register</th>
      </tr>
      <% @courses.each do |c|%>
      <tr>
         <td><%= c.name%></td>
         <td colspan=2>
            <% if current_student.courses.include? c  %>
               <span class= "text-secondary">Registered</span>
            <% else %>
               <%= link_to 'Register Now', registered_courses_path(course_id: c.id, student_id: current_student.id), method: :post, class: "btn btn-info", data: { confirm: 'Are you sure?' }%>
            <% end %>
         </td>
      </tr>
      <% end %>
   </table>
   <% else %>
   <%= link_to 'ADD NEW COURSE', new_course_path, class: "btn btn-primary" %> <br><br>
   <table class="table table-bordered">
      <tr>
         <th>Name</th>
         <th colspan=2>Actions</th>
      </tr>
      <% @courses.each do |c|%>
      <tr>
         <td><%= c.name%></td>
         <td colspan=2><%= link_to 'Edit', edit_course_path(c), class: "btn btn-info" %><%= button_to 'Delete',  c , method: :delete, class: "btn btn-danger",data: {confirm: "Are you sure?"} %></td>
      </tr>
      <% end %>
   </table>
   <% end %>
</div>