<!-- Nav bar -->
<%= render 'homes/navbar' %>
<!-- Index page starting for here-->
<div class="container mt-5">
   <% if current_student.role == true%>
   <!-- Section for registered courses -->
   <div class="accordion accordion-flush" id="accordionFlushExample">
   <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
         CLICK TO VIEW YOUR REGISTER COURSES
         </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
            <table class="table table-bordered text-center">
               <tr>
                  <th>Course</th>   
                  <th>Grade</th>
               </tr>
               <% @st_courses.each do |st_co|%>
               <tr>
                  <td><%= st_co.name.capitalize%></td>
                  <td>
                     <%= link_to 'View Grade', registered_course_path(st_co), class: "btn btn-info" %> 
                  </td>
               </tr>
               <% end %>
            </table>
         </div>
         <br><br>
      </div>
      </div>
   </div>
   <!-- Section for All courses -->
   <table class="table table-bordered text-center">
      <h4>ALL COURSES</h4>
      <br>
      <tr>
         <th>Course</th>
         <th colspan=2>Click To Register</th>
      </tr>
      <% @courses.each do |c|%>
      <tr>
         <td><%= c.name%></td>
         <td colspan=2>
            <% if current_student.courses.include? c  %>
               <span class= "text-secondary">Registered</span>
            <% else %>
               <%= link_to 'Register Now', registered_courses_path(course_id: c.id, student_id: current_student.id), method: :post, class: "btn btn-info", data: { confirm: 'Are you sure?' }%>
            <% end %>
         </td>
      </tr>
      <% end %>
   </table>
   <% else %>
   <%= link_to 'ADD NEW COURSE', new_course_path, class: "btn btn-primary" %> <br><br>
   <table class="table table-bordered">
      <tr>
         <th>Name</th>
         <th colspan=2>Actions</th>
      </tr>
      <% @courses.each do |c|%>
      <tr>
         <td><%= c.name%></td>
         <td>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><%= link_to 'Edit', edit_course_path(c), class: "btn btn-info" %></li>
               <li class="list-group-item"><%= button_to 'Delete',  c , method: :delete, class: "btn btn-danger btn-sm",data: {confirm: "Are you sure?"} %></li>
            </ul>
         </td>
      </tr>
      <% end %>
   </table>
   <% end %>
</div>
